<style>
html {
    font-family:"Tahoma"
}
h1 {
    font-size: 36pt;
}
textarea {
    width: 600px;
    height: 300px;
    border: 3px solid #cccccc;
    outline: none;

    padding: 5px;
    font-family: Tahoma, sans-serif;
    font-size: 22pt;

    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -o-transition:all 0.1s linear;
    transition:all 0.1s linear;
}

input[type=submit] {
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color:#FFFFFF;
    font-size:20pt;
}
input[type=submit]:disabled {
    background:#cccccc;
}
input[type=submit]:enabled {
    background:#77a809;
    cursor:pointer;
}

audio:hover, audio:focus, audio:active,
textarea:hover, textarea:focus, textarea:active,
input[type=submit]:hover
{
    -webkit-box-shadow: 2px 2px 4px #006773;
    -moz-box-shadow: 2px 2px 4px #006773;
    box-shadow: 2px 2px 4px #006773;
}
audio
{
    width: 600px;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -o-transition:all 0.1s linear;
    transition:all 0.1s linear;
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0, 0, 0.4);
    -webkit-box-shadow:  2px 2px 4px 0px rgba(0,0, 0, 0.4);
    box-shadow: 2px 2px 4px 0px rgba(0,0, 0, 0.4);
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}
.wordUnselected a:link, .wordUnselected a:visited,
.wordSelected a:link, .wordSelected a:visited {
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#DDFFDD;
    font-family:Arial;
    padding:8px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.wordUnselected a:link, .wordUnselected a:visited {
    background-color:#00AA00;
}
.wordUnselected:active {
    position:relative;
    top:1px;
}
.wordSelected a:link, .wordSelected a:visited  {
    background-color:#AA0000;
    color:#FFDDDD;
    border:1px solid #ab1829;
}


</style>

<script type="text/javascript">
    var numWords = {{lastTranscription|length}}

    function toggleClass(e) {
       if(e.className == "wordSelected")
          e.className = "wordUnselected";
       else
          e.className = "wordSelected";
        prepareResults()
    }
    function prepareResults() {
        words = prepareResult("word_")

        var res = new Array(numWords);
        for (i = 0; i < numWords; i++) { 
            res[i] = words[i]
        }

        document.getElementById("checkHITResult").value = res;
    }
    function prepareResult(prefix) {
        var res = new Array(numWords);
        for (i = 0; i < numWords; i++) { 
            var elem = document.getElementById(prefix+i);
            var elemClass = elem.className;
            if (elemClass == "wordSelected") {
                res[i] = false;
            } else if (elemClass == "wordUnselected") {
                res[i] = true;
            } else {
                res[i] = "ERROR";
            }
        }
        return res
    }
    window.onload = function(){
        prepareResults()
    }
</script>

<h1>Find errors in the transcript</h1>
<h2>Click on the errors to flag them as <span class="wordSelected">incorrect</span>.</h3>
<h2>Select all words that do not match the audio clip</h2>
<ul>
<li>Ignore words that have been cut off at the beginning or end of the cilp.</li>
<li>If there are missing words (that are not cut in half) at the beginning or end, mark the ellipses (...) red.</li>
<li>If there is missing punctuation, or a missing new speaker indicator, select the bubble between words.</li>
</ul>

<audio controls>
  <source src="{{ audioSnippet.audio.url }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<br />
<br />

<div id="transcriptionText">
{% for word in lastTranscription %}
    <span id="word_{{forloop.counter0}}" class="wordUnselected" onclick="toggleClass(this)"><a href="#">{{ word }}</a></span>
{% endfor %}
</div>

<form action="{{ amazon_host }}" method="POST">
    <input type="hidden" name="checkedHITResult" id="checkHITResult" value="">

    <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
    <input type="hidden" id="asFileId" name="asFileId" value="{{ as_file_id }}">
    <input type="hidden" id="workerId" name="workerId" value="{{ worker_id }}"/>
    <input type="hidden" id="hitId" name="hitId" value="{{ hit_id }}" />
    <p/>
    <input class="submitButton" type="submit" {{isDisabled}} />
</form>
<div>

</div>
