    <h3>Using your own words, describe this man however you want.</h3>
    <form action="{{ amazon_host }}" method="POST">
        <textarea rows="4" cols="50" name="user-input"> </textarea>
        <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
        <br/>
        <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
        <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
        <input type="submit"/>
    </form>
    <div>
        <img src="http://arminsamii.com/images/armin.png" width="500"/>
    </div>
