<!--{% load static %}
<source src="{% static "tracks/track01.mp3" %}" type="audio/mpeg">-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload files to transcribe</title>
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li>
            <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="docfile" value="{{ document.pk }}" />
                <input type="submit" value="[x]" />
                <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
            </form>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

        <form action="{% url 'deleteAll' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Delete all files" />
        </form>

        <form action="{% url 'deleteAllHits' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Delete all AMT HITs" />
        </form>
    </body>
</html> 

