<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload files to transcribe</title>
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li>
            <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="selectedDoc" value="{{ document.pk }}" />
                <input type="submit" value="[x]" />
                <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
            </form>
            </li>
            {% for audiosnippet in document.audioSnippets.all %}
            <div style="padding-left:30px">
                {{forloop.counter}}:
                {% if audiosnippet.hasBeenValidated %}
                    ✔️
                {% elif audiosnippet.isComplete %}
                    ❌
                {% else %}
                    <a href='../../hit/checkHIT?docId={{audiosnippet.pk}}&assignmentId=ASSIGNMENT_ID_NOT_AVAILABLE&hitId={{audiosnippet.activeHITId}}'>🚀</a>
                {% endif %}
                <a href="{{ audiosnippet.audio.url }}">{{ audiosnippet.audio.name }}</a>
                <br/>
                {{ audiosnippet.predictions }}
                <br/> <br/>
            </div>
            {% endfor %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.uploadedFile.label_tag }} {{ form.uploadedFile.help_text }}</p>
            <p>
                {{ form.uploadedFile.errors }}
                {{ form.uploadedFile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

        <form action="{% url 'processHits' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Process completed AMT HITs" />
        </form>


        <br><br><br><br><br><br>

        <form action="{% url 'approveAllHits' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Approve completed AMT HITs" />
        </form>
        <form action="{% url 'deleteAllHits' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Delete all AMT HITs" />
        </form>
        <form action="{% url 'deleteAll' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" value="Delete all files" />
        </form>
    </body>
</html> 

